```env
APP_NAME="Jell Group"
APP_ENV=local
APP_KEY=base64:IXuq/pOU7d0QpvaiM3+EAj/G38XnARjIgEPD5VVOSV8=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US
APP_TIMEZONE=Asia/Manila

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=esgroupsystemv2
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null
SESSION_SECURE_COOKIE=false
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=lax

BROADCAST_CONNECTION=log

FILESYSTEM_DISK=local

QUEUE_CONNECTION=sync

CACHE_STORE=file
CACHE_PREFIX=jell_group_local

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="support@jellgroup.local"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=ap-southeast-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

IGNITION_EDITOR=false
IGNITION_ENABLE_RULER=false
IGNITION_SHOW_PRODUCTION_EXCEPTION=true

VIEW_COMPILED_PATH=/home/lenberd/Documents/esgroup.version.2/storage/framework/views

#Mirasol Biometric
CROSSCHEX_MAIN_NAME="Mirasol Biometric"
CROSSCHEX_MAIN_URL=https://api.us.crosschexcloud.com/
CROSSCHEX_MAIN_KEY=46332840a78485e57cbee93deae7a80d
CROSSCHEX_MAIN_SECRET=573778df0160dac942d1f83e2f3a88b6

#Balintawak Biometric
CROSSCHEX_SECOND_NAME="Balintawak Biometric"
CROSSCHEX_SECOND_URL=https://api.us.crosschexcloud.com/
CROSSCHEX_SECOND_KEY=dfe0e13f06561ff27a2f4f819697985b
CROSSCHEX_SECOND_SECRET=04592c47b2f0085e8988bf9c5080f93b

# Gonzales Biometric
CROSSCHEX_GONZALES_NAME="Gonzales Biometric"
CROSSCHEX_GONZALES_URL=https://api.us.crosschexcloud.com/
CROSSCHEX_GONZALES_KEY=d9448a240b0e1095729a9b4c207132ac
CROSSCHEX_GONZALES_SECRET=082599c902a3f9db83ede54571b5a6d1

TURNSTILE_SITE_KEY=0x4AAAAAADEzir3ArwFoI83d
TURNSTILE_SECRET_KEY=0x4AAAAAADEzij4DRUJ0DaM9ACaUsMjgad8

CROSSCHEX_WEBHOOK_PASSWORD=Company162019!
